<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand w-sm-100 w-md-100 w-lg-100 fs-2" href="#">Market</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav fs-4 me-auto mb-2 mb-lg-0 d-flex justify-content-between"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/card"
            routerLinkActive="router-link-active"
            >Card</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
